ETL_ENV=
LOGGING_LEVEL=

DB_PORT=
DB_HOST=

PROPERTY_DB_NAME=
PROPERTY_DB_PASS=
PROPERTY_DB_USER=

PROPOSAL_DB_NAME=
PROPOSAL_DB_USER=
PROPOSAL_DB_PASS=

GROUPSYNC_DB_NAME=
GROUPSYNC_DB_USER=
GROUPSYNC_DB_PASS=

ANALYTICS_DB_NAME=
ANALYTICS_DB_HOST=
ANALYTICS_DB_USER=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
BEDROCK_MODEL_ID=

